modules = ["cpp-clang14"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build and Run"

[[workflows.workflow]]
name = "Build and Run"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ex00 && make re && ./megaphone \"Hello from Replit!\""

[workflows.workflow.metadata]
outputType = "console"
